# public/.htaccess

# Deshabilita listado de carpetas
Options -Indexes

<IfModule mod_rewrite.c>
    # Activa mod_rewrite y FollowSymlinks
    Options +FollowSymlinks
    RewriteEngine On

    # Si tu aplicación NO está en la raíz del dominio,
    # descomenta y ajusta la siguiente línea:
    # RewriteBase /mi-subcarpeta/

    # Asegúrate de que Apache mire primero index.php
    DirectoryIndex index.php

    # Si la petición no es a un fichero o carpeta real,
    # mándala al front-controller:
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]

    # Pasa el header Authorization (para API/JWT si lo necesitas)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    # Si no hay mod_rewrite, manda los 404 a index.php
    ErrorDocument 404 /index.php
</IfModule>

# Oculta versión de Apache
ServerSignature Off